body {
  background-color: silver;
  line-height: 1.6; }

.product-section {
  background-color: white;
  margin-top: 10%; }

.container h2 {
  text-align: center; }

.item-product-text {
  margin-bottom: 30px;
  display: inline-block;
  float: left;
  width: 80%; }
  .item-product-text h3, .item-product-text p {
    text-align: right;
    margin-bottom: 0; }
  .item-product-text p {
    margin-top: 0; }

.item-product-icon-right {
  width: 60px;
  height: 60px;
  background-color: #0f9;
  display: inline-block;
  line-height: 60px;
  text-align: center;
  font-size: 20px;
  color: #0099cc;
  -webkit-border-radius: 100%;
          border-radius: 100%;
  float: right;
  margin-top: 10%; }

.item-product-icon-left {
  width: 60px;
  height: 60px;
  background-color: #0f9;
  display: inline-block;
  line-height: 60px;
  text-align: center;
  font-size: 20px;
  color: #0099cc;
  -webkit-border-radius: 100%;
          border-radius: 100%;
  float: left;
  margin-top: 10%; }

.align-img {
  display: inline-block;
  text-align: center; }

.col-md-4:last-child .item-product-text h3, .col-md-4:last-child .item-product-text p {
  text-align: left; }
